# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
 
# Virtual environments
venv/
env/
ENV/
.venv/

# Secrets
.env
snapshots/
 
# IDE
.vscode/
.idea/
 
# Logs and databases
*.log
*.sqlite3
 
# Python testing
.pytest_cache/
.coverage
.python-version
 
# mypy
.mypy_cache/



infra/cdk.out